<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVPSports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A1F6A4F1D58F74E00066AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1F6A631D58F75000066AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1F6A6E1D58F75100066AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
